<!-- Art Entries Column -->
<div *ngIf="arts" class="col-md-12 mt-3">
    <div class="row">
        <div *ngFor="let art of arts" class="col-md-4">
            <div class="card mb-4">
                <div class="card-image-top">
                    <img src={{art.image}} alt={{art.image}} class="img-fluid img-thumbnail">
                    <!-- <img [src]={{art.image}} alt={{art.image}}> -->
                </div>
                <div class="card-body">
                    <h6>{{art.artist}}</h6>
                    <h2 class="card-title">{{art.name}}</h2>
                    <small class="card-text text-muted h6">Added | {{art.created_on}} </small>
            
                    <p class="card-text">{{art.description}}</p>
                </div>
                <div class="card-footer">
                    <span class="price">{{art.price}}</span>
                    <a href="#" class="btn">Buy &rarr;</a>
                </div>
            </div>
        </div>
    </div>
</div>